@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");
* {
  font-family: "Comfortaa", cursive;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */

  box-sizing: border-box;

  margin: 0;
  padding: 0;
}


/**ANIMATIONS**/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
@keyframes spring { 
  0% {
    transform: scale(1) translateY(0); 
  }
  10% {
    transform: scale(1.2, 0.6); 
  }
  30% { 
    transform: scale(0.8, 1.1) translateY(-50px); 
  }
  50% { 
    transform: scale(1) translateY(0); 
  }
  100% { 
    transform: translateY(0); 
  }
}
/*END OF ANIMATIONS*/

a:hover,a:active {
  background-color: white;
  opacity: 80%;
  border: black solid 3px;
}
a:link,a:visited {
  background: gray;
  color: white;
  text-decoration: none;

  border-radius: 100px;
  padding: 10px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:70%;	
  margin-top:20px;

  animation: spring 4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

li {
  
  background-image: url("hand_point_right.png");
  background-repeat: no-repeat;
  background-size: 3%;
  padding-left:0;
	
  list-style-type: none;
  text-align: center;
  padding-top: 40px;
  font-size: 20px;

  animation: bounce 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 6;

}

footer {
  background-color: gray;
  text-align: center;
  padding: 10px;
  background-size: 100%;

  margin-top: 60px;
}
