* {
  margin: 0;
  padding: 0;
}

#msgUI {
  display: flex;
  margin: 20px;
  text-align: center;
}

.content {
  margin-right: 5px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

#room-list {
  width: 250px;
  height: 200px;
  border: 1px black solid;
}

#main {
  width: 500px;
  height: 600px;
  border: 1px black solid;
}

#room-info {
  width: 200px;
  height: 400px;
  border: 1px black solid;
}

#message-box {
  width: 430px;
  height: 550px;
  margin: auto;
  border: 1px black solid;
  overflow-y: auto;
}

#chat-form {
  margin-top: 30px;
}

#input-msg {
  width: 450px;
  height: 40px;
  font-size: 10px;
  padding: 2px;
}

#submit {
  width: 30px;
  height: 45px;
  font-size: 10px;
}
